<div class="card border border-success">
    <div class="card-body">
      <h5 class="card-title">Reactive Forms</h5>
     <div class="buttonSection">
        <button routerLink="Add" class="btn btn-primary mb-3">Add</button>
        <button routerLink="Search" class="btn btn-success mb-3">Search</button>
        <button routerLink="Update" class="btn btn-warning mb-3">Update</button>
        <button routerLink="Delete" class="btn btn-danger mb-3">Delete</button>
      </div>   
      
   <table class="table border mb-5">

    <tbody>
      <tr *ngFor="let item of data">
        <th>{{item.CustomerId}}</th>
        <td>{{item.Name}}</td>
        <td>{{item.Age}}</td>
        <td>{{item.Gender}}</td>
      </tr>
    </tbody>
  </table> 
    </div>
  </div> 
  